:root {
  --primarycolor: rgba(0, 128, 55, 0.5);
  --textcolor: #333;
}

h1 {
  text-align: center;
  padding-top: 10%;
  font-family: "Assistant", sans-serif;
  font-weight: 800;
  color: #fff;
}
h2 {
  text-align: center;
  font-family: "Assistant", sans-serif;
  color: #fff;
}
.featuredrecipes {
  font-weight: 700;
  color: (--primarycolor);
}
button.btn-hero.white {
  border-color: var(--primarycolor);
  border-width: 1px;
  border-style: solid;
}
li a {
  color: white;
}
ul {
  list-style-type: none;
}
.col-md.recipes {
  background: #fff;
}
.recipespage {
  text-align: center;
  color: #333;
}
.aboutpage {
  width: 50%;
}
.books h1 {
  color: #333;
  font-weight: 700;
}
.books h2 {
  color: #333;
}
.books h3 {
  color: #333;
}
.col-md.books {
  background-color: #fff !important;
}
.featuredrecipes {
  color: var(--primarycolor) !important;
}
.nav-link {
  color: #fff !important;
}
div#navbarNav {
  width: 100%;
  padding-left: 50vw;
}
.navbar-light .navbar-toggler {
  color: #fff !important;
  border-color: #fff !important;
}
img.nav {
  width: 20vw;
  height: auto;
}
h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
  font-family: "Assistant", sans-serif;
}
.col-md-6 h3 {
  font-weight: 600;
}
h5 {
  font-family: "Assistant", sans-serif;
  color: #fff;
  font-weight: 900;
}
img {
  width: 100%;
}
.col-md {
  background-color: var(--primarycolor);
}
.hero {
  background-color: var(--primarycolor);
  text-align: center;
}

.hero h3 {
  color: #fff;
  font-weight: 200;
}
.hero h1 {
  font-weight: 700;
  padding-top: 0px;
}
p {
  font-family: "Montserrat", sans-serif;
}
a {
  font-family: "Montserrat", sans-serif;
}
.bg-light {
  background-color: #fff !important;
}

.btn-hero {
  border: none;
  background-color: #fff;
  color: var(--primarycolor);
  border-radius: 25px;
  padding: 10px;
}
.btn-recipes {
  border: var(--primarycolor);
  background-color: #fff;
  color: var(--primarycolor);
  border-radius: 25px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
}
.nav {
  height: 100px;
  width: auto;
}
.featuredrecipes {
  color: #333;
}

.page-footer {
  background-color: var(--primarycolor);
}

.page-footer p {
  color: #fff;
  font-size: 12px;
}
.footer-copyright {
  color: #fff;
  font-size: 12px;
}
.page-footer a {
  color: #fff;
  font-size: 12px;
}
.row {
  padding: 2%;
  text-align: center;
}

.apple {
  background-color: var(--primarycolor);
}

.apple h3 {
  color: #fff;
}
.apple p {
  color: #fff;
}
hr {
  width: 50%;
  color: var(--primarycolor);
}
